doctype html
html
  head
    meta(http-equiv="content-type",content="text/html; charset=utf-8")
    meta(name='viewport',content="width=device-width,maximum-scale=2,minimum-scale=1,user-scalable=no")
    title  学习jade模板引擎
  body
    h2.title 在慕课网学习jade模板引擎
    div#test.test 这是一个div
    #id.className
    div.div1.div2(id="div",class="div2")
    div(id="test1")
    input(name="curose",value="javascript权威指南",type="hidden")
    input(type="checkbox",name="chk",checked)
    p.conntent(id='te')
   


